body {
    font-family: Arial, sans-serif;
    }
    
    form {
    margin-top: 20px;
    }
    
    label {
    display: block;
    margin-bottom: 10px;
    }
    
    input {
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    button {
    width: 150px;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #3e8e41;
    }
    
    #resultado {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    }
    
    